
        .card {
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

        .card-head {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        .card-body {
            padding: 20px;
        }

        .doctor-name {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
        }

        .toggle-details {
            font-size: 24px;
            font-weight: bold;
        }

        .details-container {
            display: none;
            padding: 10px;
        }

        /* Media query for larger screens */
        @media screen and (min-width: 768px) {
            .container {
                flex-direction: row;
                justify-content: center;
            }

            .card {
                margin: 10px;
            }
        }


        .table-container {
            margin-top: 20px;
        }
        
        .table {
            border-collapse: collapse;
            width: 100%;
        }
        
        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        .table th {
            background-color: #f2f2f2;
        }
        
        